body {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(11, 5rem);
  grid-template-rows: repeat(11, 5rem);
  background-image: url(../assets/images/background/thumb-1920-473168.jpg);
}

header {
  grid-column: 2/11;
  grid-row: 1/2;
}

.title-container {
  display: flex;
  text-align: center;
  font-size: 1.25rem;
  justify-content: center;
}

.title {
  color: cyan;
  border: 0.2rem solid cyan;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1rem 3rem 1rem 3rem;
}

nav {
  grid-column: 2/11;
  grid-row: 3/4;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: 0.2rem cyan solid;
  border-bottom: 0;
  z-index: 2;
}

.search-handlers-container {
  display: grid;
  grid-template-columns: repeat(9, 5rem);
  grid-template-rows: 3rem;
}

.dimension-container {
  grid-column: 1/4;
  grid-row: 1/2;
}

.biome-container {
  grid-column: 4/7;
  grid-row: 1/2;
}

.mob-container {
  grid-column: 7/10;
  grid-row: 1/2;
}

.dimension-form {
  display: grid;
  grid-template-columns: 15rem;
  grid-template-rows: repeat(2, 5rem);
}

.biome-form {
  display: grid;
  grid-template-columns: 15rem;
  grid-template-rows: repeat(2, 5rem);
}

.mob-form {
  display: grid;
  grid-template-columns: 15rem;
  grid-template-rows: repeat(2, 5rem);
}

.user-input {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 1rem;
  text-align: center;
  margin: 2rem 1rem 1rem 1rem;
}

#dimension-submit {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvin7CelLl9Y2jOYd5sw-TPzxbnOqUS3MkUkWySy10b1S9rAC7UqqJnw9PY-7JXpvn5EU&usqp=CAU);
}

#biome-submit {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgQ_XAQBEJBQKTFPGRhdQQSZVsUZw_wVeNZvfHDyk7-4U4JQokARzp2aioDPQlBwNewrw&usqp=CAU);
}

#mob-submit {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdLaN8H7h0zq8NbkcChdXhVaCNpMYZ3_3IkPmc80sUo_kcAut0RW12sak_YAvFDxs5IAc&usqp=CAU);
}

.submit {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 5.8rem;
}

main {
  grid-column: 2/11;
  grid-row: 4/-1;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: cyan;
  border: 0.2rem cyan solid;
  border-top: 0rem;
}

.result-container {
  display: grid;
  grid-template-columns: repeat(18, 2.5rem);
  grid-template-rows: repeat(16, 2.5rem);
  margin-left: 2rem;
}

.image-container {
  justify-self: center;
  grid-column: 12/18;
  grid-row: 2/-8;
}

.image-itself {
  border: 0.15rem solid cyan;
  opacity: 0;
  margin-right: 3rem;
}

.result-relations {
  grid-row: 9/17;
  grid-column: 1/19;
  display: grid;
  grid-template-columns: repeat(18, 2.5rem);
  grid-template-rows: repeat(8, 2.5rem);
}

.relations-h2 {
  grid-row: 2/4;
  grid-column: 1/12;
  text-align: end;
  justify-self: left;
  font-size: larger;
}

.mob-h3 {
  grid-row: 4/6;
  grid-column: 1/7;
  justify-self: left;
  align-self: end;
  font-size: large;
}

.counter-1 {
  grid-row: 6/8;
  grid-column: 1/4;
  align-self: top;
  justify-self: right;
  font-size: medium;
}

.counter-2 {
  grid-row: 6/8;
  grid-column: 4/7;
  align-self: top;
  justify-self: center;
  font-size: medium;
}

.counter-3 {
  grid-row: 6/8;
  grid-column: 7/10;
  align-self: top;
  justify-self: center;
  font-size: medium;
}

.counter-4 {
  grid-row: 6/8;
  grid-column: 10/13;
  align-self: top;
  justify-self: center;
  font-size: medium;
}

.counter-5 {
  grid-row: 6/8;
  grid-column: 13/16;
  align-self: top;
  justify-self: center;
  font-size: medium;
}

.counter-6 {
  grid-row: 6/8;
  grid-column: 16/19;
  align-self: top;
  justify-self: center;
  font-size: medium;
}

.counter-7 {
  grid-row: 6/8;
  grid-column: 19/22;
  align-self: top;
  justify-self: center;
  font-size: medium;
}

.result-text {
  grid-row: 2/8;
  grid-column: 1/11;
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(10, 2.5rem);
  grid-template-rows: repeat(7, 2.5rem);
}

.biome-h1 {
  grid-row: 1/4;
  grid-column: 1/5;
  font-size: 3rem;
  justify-self: left;
  align-self: top;
}

.name-of-biome {
  grid-row: 1/4;
  grid-column: 5/11;
  font-size: 2rem;
  justify-self: center;
  align-self: end;
}
